<body mat-app-background>
  <mat-grid-list cols="3" rowHeight="300px" gutterSize="20px">
    <mat-grid-tile>
      <mat-card style="background-color:#b2ddff">
        <mat-card-title>Text to analyze:</mat-card-title>
        <mat-card-content>
          <mat-form-field style="width: 100%">
            <textarea matInput rows="6" cols="250" [(ngModel)]="texto" placeholder="Place text here to analyze">
            </textarea>
          </mat-form-field>
          <div style="display:flex; flex-direction: row;">
            <button mat-raised-button color="primary" (click) = "checkText()" *ngIf="procs.length==0"> Analyze</button>
            </div>
          <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <mat-spinner *ngFor="let proc of procs" [diameter]="20"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="analysis.length!=0">
      <mat-card style="background-color:#c7b2ff">
        <mat-card-title>Analysis
          <mat-form-field style="
            font-size:12px;
            display:flex;
            justify-content:flex-end;
            align-items:center;
            width:fit-content">
            <mat-select placeholder="Sentence" (click)= "token = undefined" [(value)]="sentence">
              <mat-option *ngFor="let sentence of tree" value = {{sentence.pos}}>
                {{sentence.pos}} - {{sentence.sentence}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-title>
        <mat-card-content style="max-height:250px">
          <div>
            <span *ngFor="let toke of analysis">
              <button
              mat-button
              *ngIf="(sentence == undefined || toke.sentence==sentence)"
              matTooltip={{toke.label}}
              [ngStyle]="{
                'background-color': (token==undefined || toke.pos!=token.pos)?toke.background:'#7a7a7a',
                'color': (token==undefined || toke.pos!=token.pos)?toke.contrast:'#c6c6c6'}"
              class="button-small"
              (click)="showToken(toke)"
                >{{toke.text}}<mat-icon *ngIf="toke.entity" style="font-size: 8px; width: 18px; height:8px">brightness_1</mat-icon></button>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="token">
      <mat-card [ngStyle]="{'background-color': token.background, color: token.contrast}">
        <mat-card-title style="font-style: italic">"{{token.text}}" ~
          <button mat-button class="button-tittle"
          [ngStyle]="{
            'background-color':token.contrast,
            'color':token.background
          }"
          (click)="label = token.label">{{token.label}}</button>
          <span *ngIf="token.label!=='ROOT'" style="font-style: normal">
            of [<button mat-button matTooltip={{analysis[token.parent].label}} [ngStyle]="{
            'background-color': analysis[token.parent].background,
            'color': analysis[token.parent].contrast}" class="button-tittle" (click)="showToken(analysis[token.parent])">
            {{analysis[token.parent].text}}
          </button>]</span>
        </mat-card-title>
        <mat-card-content style="height: 80%; overflow: auto">
          <div>
            <h4>Lemma: {{token.lemma}}</h4>
            <div *ngFor="let part of token.keys">
              {{part}}: {{token.partOfSpeech[part]}}
            </div>
          </div>
          <span *ngIf="token.children">
            <h4>Modifiers:</h4>
            <button mat-button *ngFor="let child of token.children" matTooltip={{analysis[child].label}} [ngStyle]="{
              'background-color': analysis[child].background,
              'color': analysis[child].contrast}" class="button-small" (click)="showToken(analysis[child])">{{analysis[child].text}}</button>
          </span>
          <mat-card *ngIf="token.entity" style="width: 80%;height:fit-content">
            <span [ngStyle]="{'float': 'right',
              'margin': '0px',
              'padding': '5px',
              'background-color': stringToColour(token.entity.type),
              'color': contrast(stringToColour(token.entity.type))}">{{token.entity.type}}</span>
            <mat-card-title>
              {{token.entity.name}}
            </mat-card-title>
            <mat-card-content>
              <div style="color: #2b770d">
                <span>Sentiment: </span>
                Score {{JSON.stringify(token.entity.sentiment.score).substr(0, 4)}} Magnitude {{JSON.stringify(token.entity.sentiment.magnitude).substr(0, 4)}}
              </div>
              <div>Salience: {{token.entity.salience}}</div>
            </mat-card-content>
            <mat-card-footer *ngIf="token.entity.metadata.wikipedia_url" style="margin:1px">
              <a href={{token.entity.metadata.wikipedia_url}}>Wikipedia</a>
            </mat-card-footer>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="label">
      <mat-card [ngStyle]="{'background-color': token.contrast, color: token.background}">
        <mat-card-title style="font-style: italic">"{{label}}</mat-card-title>
        <mat-card-content>
          <pre>{{labels[label]}}</pre>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let stat of stats">
      <mat-card [ngStyle]="{'background-color': stat.color}">
        <mat-card-title>{{stat.name}}</mat-card-title>
        <mat-card-content class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="stat.keyScores">

            <!-- Name Column -->
            <ng-container matColumnDef="Entity">
              <mat-header-cell *matHeaderCellDef> Entity </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Score">
              <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-card-content>
        <mat-card-footer>
          <!-- <h2 style="margin:10px">Puntaje total: {{stat.score}}</h2> -->
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>
