<body mat-app-background>
  <mat-grid-list cols="3" rowHeight="300px" gutterSize="20px">
    <mat-grid-tile>
      <mat-card style="background-color:#b2ddff">
        <mat-card-title>Text to analyze:</mat-card-title>
        <mat-card-content>
          <mat-form-field style="width: 100%">
            <textarea matInput rows="10" cols="250" [(ngModel)]="texto" placeholder="Place text here to analyze">
            </textarea>
          </mat-form-field>
          <div style="display:flex; flex-direction: row;">
            <button mat-raised-button color="primary" (click) = "checkText()" *ngIf="procs.length==0"> Analyze</button>
            </div>
          <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <mat-spinner *ngFor="let proc of procs" [diameter]="20"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="background-color:#c7b2ff">
        <mat-card-title>Analysis</mat-card-title>
        <mat-card-content>
            <button mat-button *ngFor="let token of analysis" [ngStyle]="{
              'background-color': token.background,
              'color': token.contrast}" class="button-small">{{token.text}}</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let stat of stats">
      <mat-card [ngStyle]="{'background-color': stat.color}">
        <mat-card-title>{{stat.name}}</mat-card-title>
        <mat-card-content class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="stat.keyScores">

            <!-- Name Column -->
            <ng-container matColumnDef="Entity">
              <mat-header-cell *matHeaderCellDef> Entity </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Score">
              <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-card-content>
        <mat-card-footer>
          <!-- <h2 style="margin:10px">Puntaje total: {{stat.score}}</h2> -->
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>
