.example-container {
  display: flex;
  flex-direction: column;
  max-height: 75%;
  min-width: 300px;
}
.mat-card {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 200px;
}
.button-small {
  min-width: 1%;
  min-height: 1%;
  padding: 1%;
  margin: 2px;
  line-height: 100%;
}
.button-tittle {
  min-width: 1%;
  min-height: 1%;
  padding: 1%;
  padding-bottom: 0%;
  margin: 5px;
  line-height: 100%;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
